In [2]:
import pandas as pd

df = pd.read_excel("/Users/danilmiloserdov/Desktop/диплом/proteins.xlsx")
df.head()

,Protein.Group,Coverage [%],Unique peptides,Peptides,Protein.Length,Isoelectric.Point,Molecular.Weight,Protein.Ids,Protein.Names,Genes,...,QC13,QC14,QC2,QC3,QC4,QC5,QC6,QC7,QC8,QC9
0,A0A023I7L8;A0A023I7V4;A0A023I889;A0A023I8F1;A0...,8,0,5,226,10.6752,24859.25,P00846;A0A023I7L8;A0A023I7V4;A0A023I889;A0A023...,A0A023I7L8_HUMAN;A0A023I7V4_HUMAN;A0A023I889_H...,ATP6,...,3013720.0,2246510.00,3345360.00,3022750.0,3271850.00,3235210.00,2722070.0,2856830.00,2508100.0,2993020.0
1,A0A024R6N5;A0A0G2JRN3,4,1,1,418,5.3073,46708.50,A0A024R6N5;A0A0G2JRN3,A0A024R6N5_HUMAN;A0A0G2JRN3_HUMAN,SERPINA1,...,NaN,NaN,7333.26,NaN,3567.01,4740.21,NaN,3176.38,NaN,NaN
2,A0A024R798;A0A088QF11,4,3,3,704,8.6413,79874.36,A0A024R798;A0A088QCU6;A0A088QF11;K7ESF5,A0A024R798_HUMAN;A0A088QF11_HUMAN,SLC44A2,...,10846.1,8011.27,11354.50,13098.6,12449.30,13421.20,15388.2,14671.00,10571.3,10848.4
3,A0A024RAJ6,2,1,1,556,6.7315,63111.34,A0A024RAJ6,A0A024RAJ6_HUMAN,HEXB,...,NaN,NaN,1406.18,11388.4,NaN,14952.20,NaN,9524.09,NaN,NaN
4,A0A024RBE8;F8VVM2;F8VWQ0,7,1,1,361,9.7519,39958.71,F8VVM2;F8VWQ0;A0A024RBE8;B2RE88;Q53HC3;Q8NCF7,A0A024RBE8_HUMAN;F8VVM2_HUMAN;F8VWQ0_HUMAN,SLC25A3,...,70805.7,52402.70,482898.00,470497.0,NaN,44968.00,31335.4,496392.00,19090.6,644916.0

In [6]:
metadata = pd.read_excel('/Users/danilmiloserdov/Desktop/диплом/metadata.xlsx')
metadata.head()

   No *组别名称        *样本名称（管壁标记名称） *样本报告名称
0   1     C    1 HC-203 m 59 BA6      P1
1   2     C   1 HC-203 m 59 BA18      P2
2   3     C  1 HC-203 m 59 CB_WM      P3
3   4     C     1 MD-09 f 64 BA6      P4
4   5     C    1 MD-09 f 64 BA18      P5